.accordion {

  > div:first-child {
    position: relative;
    padding: 0 30px 10px 0;
    border-bottom: solid #000;
    cursor: pointer;

    &:after {
      position: absolute;
      top: 10px;
      right: 0;
      width: 16px;
      height: 16px;
      background: url("../../dist/img/arrow.svg");
      background-repeat: no-repeat;
      content: '';
      transition: all .3s ease;
    }

    + div {
      padding: 0;
      opacity: 0;
      height: 0;
      visibility: hidden;
      transition: max-height .5s, opacity .3s, padding .3s;
    }
  }

  &.active {

    > div:first-child {

      + div {
        opacity: 1;
        visibility: visible;
        padding: 15px 0 0 0;
        height: auto;
        transition: height .5s, opacity .5s, padding .3s;
      }

      &:after {
        transform: rotate(180deg);
      }
    }
  }
}